@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

:root {
  --bg: #3b3e50;
  --header: #eaff8b;
  --text: #616268;
  --fs-l: 70px;
  --fs-m: 18px;
  --fs-s: 12px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Remove underlines and inherit properties from links */
a {
  color: inherit;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
/* body {
  min-height: 100vh;
  line-height: 1.5;
} */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

* {
  background-color: var(--bg);
  color: var(--header);
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: var(--fs-l);
  margin: 30px 0px;
  /* padding: 30px 0px; */
}

h2 {
  font-size: var(--fs-m);
}
